*{
    box-sizing: border-box;
}
.game-controller{
    width: 500px !important;
    height: 500px !important;
    display:flex;
    flex-direction: column;
    border: solid 1px black;
}

.game-controller .game-header{
    position:fixed;
    width:500px;
    height: 50px !important;
    top: inherit;
}
.game-controller .game-footer{
    position:fixed;
    width:500px;
    height: 50px !important;
    top: 450px;
}
.game-controller .game-winner-banner{
    position: fixed;
    text-align: center;
    top:5%;
    width:500px;
}
.game-controller .game-mainmenu{
    width:80%;
    margin: 10%;
}
.game-controller .game-board{
    width:300px;
    display:flex;
    margin: 20%;
}

.game-controller .btn{
    text-decoration: none;
    padding: 2px;
    border-radius: 2px;
    opacity: 0.8;
}
.game-controller .btn:hover{
    box-shadow: 1px 1px 1px 1px;
    opacity: 1.0;
}

.game-header .btn {
    display: inline;
    margin: 0px 10px;
    padding: 1px 2px;
}

.game-footer .btn {
    display: inline;
    margin: 0px 10px;
    padding: 1px 2px;
}

.game-mainmenu .game-mainmenu-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    padding:10% 0px;
    margin: 5% 0px;
    text-align: center;
}

.game-mainmenu-list .game-mainmenu-list-item{
    width: 100%;
    display:inline-block;
    margin: 2% 0%;
}

.game-mainmenu-list-item .btn{
    width: 60%;
    background-color: papayawhip;
}
.game-mainmenu-list-item .btn:hover{
    width: 70%;
}

.game-board .game-board-row{
    display:flex;
    flex-direction: column;
}
.game-board-row .game-board-col{
    display:flex;    
    flex-direction: row;
    justify-content: space-around;
}

.game-board-col .t3btn{
    width: 100px;
    height: 100px !important;
    border: 2px black solid;
    border-radius: 2px;
    background-color: white;
}

.t3btn .t3playerX{
    color:red;
}

.t3btn .t3playerO{
    color:green;
}

.game-winner-banner .game-winner-message{
    position: relative;
    width: 20%;
    display: inline-block !important;
}

.game-winner-banner .btn {
    position: relative;
    width: 10%;
    display: inline-block !important;
}